.articals {
  width: 626px;
  flex-shrink: 0;

  .artical-item {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .time {
        font-family: monospace;
      }
    }

    .left:hover {
      text-decoration: underline;
    }

    .right {
      flex-shrink: 0;
      span {
        font-family: monospace;
        margin-left: 10px;
      }
    }
  }

  .pagn {
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-weight: normal;
    margin-top: 24px;
  }
}