.project-warp {
  position: relative;
  padding-top: 30px;
  z-index: 0;

  .main {
    display: flex;
    justify-content: center;
    z-index: 0;

    .content {
      z-index: 0;
      width: 800px;
      display: flex;
      min-height: calc(~'100vh - 90px');

      .left-nav {
        width: 150px;
      }

      .body {
        padding: 10px 0;
        margin-left: 24px;
      }
    }
  }

  
}