.nav-side {
  position: fixed;
  width: 40px;
  top: 80%;
  transform: translate(0, -50%);
  right: 0;
  border-radius: 4px;
  overflow: hidden;

  &-tip {
    width: 100%;
    background-color: #F1840F;
    font-size: 12px;
    padding: 8px 0 0;
    color: #fff;
    writing-mode: vertical-lr;
    letter-spacing: 8px;
    user-select: none;
    display: flex;
    align-items: center;
    font-weight: normal;
  }

  &-tip:last-child {
    letter-spacing: 0;
  }

  .to-top {
    width: 100%;
    padding: 8px 0;
    background-color: #C4E4E9;
    
    a {
      display: inline-block;
      text-align: center;
      width: 100%;
      color: #000;
      font-weight: normal;
    }
  }
}