.nav-side {
  position: fixed;
  width: 40px;
  top: 80%;
  transform: translate(0, -50%);
  right: 0;
  z-index: 2;
  cursor: pointer;

  &-tip,
  .money {
    position: relative;
    width: 100%;
    background-color: #F1840F;
    font-size: 12px;
    padding: 8px 0 0;
    color: #fff;
    writing-mode: vertical-lr;
    letter-spacing: 8px;
    user-select: none;
    display: flex;
    align-items: center;
    font-weight: normal;
    border-radius: 4px 0 0 0;
  }

  &-tip {
    z-index: 3;
  }

  &-tip:last-child {
    letter-spacing: 0;
  }

  &-tip:hover {
    .personalInfo  {
      transition: opacity 1s;
      opacity: 1;
      right: 50px;
    }
  }

  .money {
    border-radius: 0;
    background-color: #0480FC;
    z-index: 2;

    &:hover {
      .qcard {
        transition: opacity 1s;
        opacity: 1;
        right: 50px;
      }
    }

    .alipay, .wxpay {
      width: 250px;
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 200px;
        height: 200px;
      }

      span {  
        color: #000;
      }
    }
  }

  .qcard, .personalInfo {
    width: 500px;
    height: 250px;
    background-color: #fff;
    position: absolute;
    right: -550px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 1s;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 5px solid transparent;
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .personalInfo {
    padding: 12px;
    color: #000;
    width: 250px;
    height: auto;
    transition: opacity 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    writing-mode: initial;
    letter-spacing: initial;

    div {
      text-align: center;

      a {
        color: #000;
      }
    }
  }

  .to-top {
    width: 100%;
    padding: 8px 0;
    background-color: #C4E4E9;
    border-radius: 0 0 0 4px;
    z-index: 3;

    a {
      display: inline-block;
      text-align: center;
      width: 100%;
      color: #000;
      font-weight: normal;
    }
  }
}