
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  min-width: 100vw;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;

  .upload-file {
    position: fixed;
    padding: 24px;
    width: 400px;
    font-weight: normal;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: #343C3A;

    .types {
      display: flex;
      margin-top: 8px;

      span {
        flex-shrink: 0;
      }

      input {
        padding: 4px;
        width: calc(~'100% - 8px');
        flex-grow: 1;
      }
    }

    .submit {
      margin-top: 24px;
      font-size: 14px;
      text-align: right;

      .cancel {
        margin-right: 24px;
      }

      span {
        border-radius: 8px;
        padding: 4px 10px;
        box-sizing: border-box;
        border: 1px solid #fff;
        cursor: pointer;

        &:hover {
          background-color: #fff;
          color: #343C3A;
        }
      }
    }
  }

  .time-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
  }

  .header-nav {
    span, a {
      cursor: pointer;
      margin-left: 20px;
    }
  }
}