
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  min-width: 100vw;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;

  .time-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 848px;

    .greet {
      display: inline-block;
      width: 180px;
      text-align: center;
      margin-right: 20px;
    }
  }

  .header-nav {
    span, a {
      cursor: pointer;
      margin-left: 20px;
    }
  }
}