.left-info {
  width: 228px;
  position: fixed;
  top: 30px;

  .line {
    margin: 2.5px 0 5px;
    height: 2px;
    background-color: #242424;
  }

  .left-nav {
    width: 228px;
    height: 228px;
    border-radius: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom, #F1B30E 0%, #EC6B0D 100%);
  
    .nav-item {
      color: #666;
      cursor: pointer;
  
      &:last-child {
        border: none;
      }
  
      &:hover {
        color: #fff;
      }
    }
  }
}
